* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

.utterances {
  max-width: 100% !important;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.back-to-top {
display: none; /* 默認是隱藏的，這樣在第一屏才不顯示 */
position: fixed; /* 位置是固定的 */
bottom: 20px; /* 顯示在頁面底部 */
right: 30px; /* 顯示在頁面的右邊 */
z-index: 99; /* 確保不被其他功能覆蓋 */
border: 1px solid #5cb85c; /* 顯示邊框 */
outline: none; /* 不顯示外框 */
background-color: #fff; /* 設置背景背景顏色 */
color: #5cb85c; /* 設置文本顏色 */
cursor: pointer; /* 滑鼠移到按鈕上顯示手型 */
padding: 10px 15px 15px 15px; /* 增加一些內邊距 */
border-radius: 10px; /* 增加圓角 */

}

.back-to-top:hover {
background-color: #5cb85c; /* 滑鼠移上去時，反轉顏色 */
color: #fff;

}



